<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>新規登録申請</title>
	<link rel="stylesheet" type="text/css" href="/css/bodyStyle.css">
</head>

<body>
	<h1>新規登録申請</h1>
	<div th:each="error:${errorList}" style="text-align: center">
		<span th:text="${error}" style="color: rgb(255, 0, 0)"></span><br>
	</div>
	<form action="/new/users" method="post">
		<table>
			<tr>
				<th>名前</th>
				<td><input type="text" name="name" class="textbox" placeholder="名前" th:value="${name}" required></td>
			</tr>
			<tr>
				<th>学籍番号</th>
				<td><input type="text" maxlength="10" class="textbox" name="number" placeholder="学籍番号（最大10桁）" th:value="${number}" required>
				</td>
			</tr>
			<tr>
				<th>住所</th>
				<td><input type="text" name="address" class="textbox" placeholder="住所" th:value="${address}" required></td>
			</tr>
			<tr>
				<th>生年月日</th>
				<td><input type="date" name="birth" placeholder="生年月日" th:value="${birth}" required></td>
			</tr>
<!--			<tr>-->
<!--				<th>電話番号</th>-->
<!--				<td><input type="text" name="phone" placeholder="電話番号" required></td>-->
<!--			</tr>-->
			<tr>
				<th>メールアドレス</th>
				<td><input type="email" name="email" class="textbox" placeholder="メールアドレス" th:value="${email}" required><br></td>
			</tr>
			<tr>
				<th>パスワード</th>
				<td><input type="password" minlength="6" class="textbox" maxlength="20" name="password"
						placeholder="パスワード（最大20文字）" required></td>
			</tr>
		</table>

		<p>画像</p>

		<button>確認</button>
	</form>
</body>

</html>