<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>新規登録申請</title>
</head>
<body>
<h1>新規登録申請</h1>

<input type="text" name="name" placeholder="名前"><br>
<input type="text" name="number" placeholder="学籍番号"><br>
<input type="text" name="address" placeholder="住所"><br>
<input type="text" name="birth" placeholder="生年月日"><br>
<input type="text" name="password" placeholder="パスワード"><br>
<input type="text" name="email" placeholder="メールアドレス"><br>
<p>画像</p>

<button>確認画面へ</button>
</body>

</html>