<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>新規登録申請確認画面</title>
	<link rel="stylesheet" type="text/css" href="/css/bodyStyle.css">
</head>

<body>
	<h1>新規登録申請確認画面</h1>


	<table border="1">

		<tr>
			<th>名前</th>
			<td th:text="${name}"></td>
		</tr>
		<tr>
			<th>学籍番号</th>
			<td th:text="${number}"></td>
		</tr>
		<tr>
			<th>住所</th>
			<td th:text="${address}"></td>
		</tr>
		<tr>
			<th>生年月日</th>
			<td th:text="${birth}"></td>
		</tr>
		<tr>
			<th>メールアドレス</th>
			<td th:text="${email}"></td>
		</tr>
		<tr>
			<th>パスワード</th>
			<td th:text="${password}"></td>
		</tr>
	</table>
	<p>画像</p>

	<form action="/new/users/complete" method="post">
		<input type="hidden" name="name" th:value="${name}">
		<input type="hidden" name="number" th:value="${number}">
		<input type="hidden" name="address" th:value="${address}">
		<input type="hidden" name="birth" th:value="${birth}">
		<input type="hidden" name="password" th:value="${password}">
		<input type="hidden" name="email" th:value="${email}">

		<button>申請する</button>
	</form>
</body>

</html>