<!DOCTYPE html>
<htmel xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>]
	<header th:replace="header"></header>
	<br>
	<br>
	<br>
	<br>
	<h1>新規登録申請確認画面</h1>

	<form action="/staffList/add/complete" method="post">
	<p th:text="${name}"></p>
	<p th:text="${number}"></p>
	<p th:text="${password}"></p>
	<p th:text="${email}"></p>
	<p>画像</p>

	<input type="hidden" name="name" th:value="${name}">
	<input type="hidden" name="number" th:value="${number}">
	<input type="hidden" name="password" th:value="${password}">
	<input type="hidden" name="email" th:value="${email}">

	<button>申請する</button>
</body>
</html>