<!DOCTYPE html>
<htmel xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>職員アカウント新規登録</title>
<link rel="stylesheet" type="text/css" href="/css/bodyStyle.css">
</head>
<body>
	<header th:replace="header"></header>
	<br>
	<br>
	<br>
	<br>
	<h1>職員アカウント新規登録</h1>
	<div style="text-align: center;">
		<span th:text="${errorList}" style="color: rgb(255, 0, 0)"></span><br>
		<span th:text="${uniqueError}" style="color: rgb(255, 0, 0)"></span><br>
	</div>
	
	<form action="/staffList/add/confirm" method="get">
		<table>
		<tr>
			<th>名前</th>
			<td><input type="text" name="name" class="textbox" placeholder="名前" required></td>
		</tr>
		<tr>
			<th>職員番号</th>
			<td><input type="text" name="number" class="textbox" placeholder="職員番号" required></td>
		</tr>
		<tr>
			<th>パスワード</th>
			<td><input type="text" name="password" class="textbox" placeholder="パスワード" required></td>
		</tr>
		<tr>
			<th>メールアドレス</th>
			<td><input type="email" name="email" class="textbox" placeholder="メールアドレス" required></td>
		</tr>
		</table>

		<p>画像</p>

		<button>確認</button>
	</form>
</body>
</html>