<!DOCTYPE html>
<htmel xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>職員アカウント更新</title>
<link rel="stylesheet" type="text/css" href="/css/bodyStyle.css">
</head>
<body>
	<header th:replace="header"></header>
	<br>
	<br>
	<br>
	<br>
	<h1>職員アカウント更新</h1>
	<div style="text-align: center;">
		<span th:if="${uniqueError}" th:text="${uniqueError}" style="color: red;"></span>
	</div>
	
	<form th:action="@{/staffList/{staffId}/update/confirm(staffId=${staff.id})}" method="get">
	<table border="2">
		<tr>
			<th>アカウントID</th>
			<td th:text="${staff.id}"></td>
		</tr>
		<tr>
			<th>職員番号</th>
			<td><input type="text" name="number" th:value="${staff.staffNumber}" required></td>
		</tr>
		<tr>
			<th>職員名</th>
			<td><input type="text" name="name" th:value="${staff.staffName}" required></td>
		</tr>
		<tr>
			<th>メールアドレス</th>
			<td><input type="text" name="email" th:value="${staff.staffEmail}" required></td>
		</tr>
		<tr>
			<th>パスワード</th>
			<td><input type="text" name="pass" th:value="${staff.staffPass}" required></td>
		</tr>
	</table>
	<button>確認</button>
	</form>
</body>
</html>