<!DOCTYPE html>
<htmel xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>削除確認</title>
<link rel="stylesheet" type="text/css" href="/css/bodyStyle.css">
</head>
<body>
	<header th:replace="header"></header>
	<br>
	<br>
	<br>
	<br>
	<h1>削除確認</h1>
	<div style="text-align: center;">
	<table>
		<tr>
			<th>職員番号</th>
			<td th:text="${staff.staffNumber}"></td>
		</tr>
		<tr>
			<th>職員名</th>
			<td th:text="${staff.staffName}"></td>
		</tr>
	</table>
	
	<br>
	
	<p style="color: red;">
		上記のアカウントを削除します
		よろしければ下記のボタンをクリックしてください
	</p>
	<form th:action="@{/staffList/{staffId}/delete(staffId=${staff.id})}" method="post">
		<button>削除</button>
	</form>
	</div>
</body>
</html>