<!DOCTYPE html>
<htmel xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/css/bodyStyle.css">
</head>
<body>
	<header th:replace="header"></header>
	<br>
	<br>
	<br>
	<br>
	<form th:action="@{/staffList/{staffId}/update/confirm(staffId=${staff.id})}" method="get">
	<table border="2">
		<tr>
			<th>アカウントID</th>
			<td th:text="${staff.id}"></td>
		</tr>
		<tr>
			<th>職員番号</th>
			<td><input type="text" name="number" th:value="${staff.staffNumber}" required></td>
		</tr>
		<tr>
			<th>職員名</th>
			<td><input type="text" name="name" th:value="${staff.staffName}" required></td>
		</tr>
		<tr>
			<th>メールアドレス</th>
			<td><input type="text" name="email" th:value="${staff.staffEmail}" required></td>
		</tr>
		<tr>
			<th>パスワード</th>
			<td><input type="text" name="pass" th:value="${staff.staffPass}" required></td>
		</tr>
	</table>
	<button>確認</button>
	</form>
</body>
</html>