ｓ<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ブックマーク</title>
	<link rel="stylesheet" type="text/css" href="/css/bodyStyle.css">
</head>

<body>
	<header th:replace="header"></header>
	<br>
	<br>
	<br>
	<br>
	<h1>ブックマーク</h1>

	<table>
		<tr>
			<th>商品名</th>
			<th>価格</th>
			<th>出品状況</th>
		</tr>
		<tr th:each="book:${books}">
			<td><a th:href="@{/items/detail(id=${book.id})}" th:text="${book.title}"></td>
			<td th:text="${book.price} + 円"></td>
			<td th:if="${book.itemStatus == 1}" class="listingStatus">出品中</td>
			<td th:if="${book.itemStatus == 2 or book.itemStatus == 3 or book.itemStatus == 4 or book.itemStatus == 5}" class="listingStatus">終了</td>
			<td>
				<form th:action="@{/bookmark/{id}/delete(id=${book.id})}" method="post">
					<button>削除</button>
				</form>
			</td>
		</tr>
	</table>
	
	<script src="/JS/auctionCheck.js"></script>
</body>

</html>