<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>カート一覧</title>
</head>

<body>
	<header th:replace="header"></header>
	<br>
	<br>
	<br>
	<br>
	<h1>カート一覧</h1>
	<form action="/purchase/order" method="get">
		<table border="1">
			<tr>
				<th>本の名前</th>
				<th>値段</th>
				<th>カートからの削除</th>
			</tr>
			<tr th:each="book:${@accountAndCart.cartItems}">
				<td th:text="${book.title}"></td>
				<td th:text="${book.price}"></td>
				<td><button>削除</button></td>
			</tr>

		</table>

		<button>購入ボタン</button>
		合計金額：[[${sum}]]
	</form>
</body>

</html>