<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>商品詳細</title>
	<link rel="stylesheet" type="text/css" href="/css/bodyStyle.css">
</head>

<body>
	<header th:replace="header"></header>
	<br>
	<br>
	<br>
	<br>
	<h1>商品詳細</h1>
	
	<table>
		<tr>
			<th>タイトル</th>
			<td th:text="${book.title}"></td>
		</tr>
		<tr>
			<th>著者</th>
			<td th:text="${book.author}"></td>
		</tr>
		<tr>
			<th>出版社</th>
			<td th:text="${book.publisher}"></td>
		</tr>
		<tr>
			<th>使用した学年</th>
			<td th:text="${book.grade}"></td>
		</tr>
		<tr>
			<th>使用した講義</th>
			<td th:text="${book.lecture}"></td>
		</tr>
		<tr>
			<th>状態</th>
			<td th:text="${book.condition}"></td>
		</tr>
		<tr>
			<th>金額</th>
			<td th:text="${book.price + '円'}"></td>
		</tr>
	</table>
	
	<br>
	
	<form action="/cart/add" method="post">
		<input type="hidden" th:value="${book.id}" name="bookinfoId">
		<button>カートに追加</button>
	</form>
	
	<br>
	
	<form action="/bookmark/add" method="post">
		<input type="hidden" th:value="${book.id}" name="id">
		<button>ブックマーク</button>
	</form>
</body>

</html>