<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>リクエスト詳細</title>
	<link rel="stylesheet" type="text/css" href="/css/bodyStyle.css">
</head>

<body>
	<header th:replace="header"></header>
	<br>
	<br>
	<br>
	<br>
	<h1>リクエスト詳細</h1>
	
	<div th:each="message:${errorMessage}" style="text-align:center">
		<span th:text="${message}" style="color:red"></span>
	</div>
	
	<table>
		<tr>
			<th>タイトル</th>
			<td th:text="${hopeList.title}"></td>
		</tr>
		<tr>
			<th>著者</th>
			<td th:text="${hopeList.author}"></td>
		</tr>
		<tr>
			<th>出版社</th>
			<td th:text="${hopeList.publisher}"></td>
		</tr>
		
	</table>
	<br>
	<form action="/order" method="get">
		<input type="hidden" name="title" th:value="${hopeList.title}">
		<input type="hidden" name="author" th:value="${hopeList.author}">
		<input type="hidden" name="publisher" th:value="${hopeList.publisher}">
		<button>出品</button>
	</form>
	<form action="/items" method="get">
		<input type="hidden" name="keyword" th:value="${hopeList.title}">
		<button>検索</button>
	</form>
	
</body>

</html>