<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>リクエスト一覧</title>
	<link rel="stylesheet" type="text/css" href="/css/bodyStyle.css">
</head>

<body>
	<header th:replace="header"></header>
	<br>
	<br>
	<br>
	<br>
	<h1>リクエスト一覧</h1>
	<div style="text-align: center;">
		<a href="/hope/putup">リクエスト申請</a>
	</div>
	<br>

	<div style="text-align: center; justify-content: space-evenly">
		<th:block th:if="${methodNum eq 1}">
			<a href="/hope/mylist">自身のリクエスト</a>
		</th:block>
		<th:block th:if="${methodNum eq 2}">
			<a href="/hope">リクエスト一覧</a>
		</th:block>
	</div>
	
	<br>

	<div style="text-align: center">
		<a th:text="${errorMessage}"></a>
	</div>

	<table border="1">
		<tr>
			<th>タイトル</th>
			<th>各種機能</th>
		</tr>
		<tr th:each="hope:${hope}">
			<td th:text="${hope.title}" style="width: 250px;"></td>
			<td style="width: 250px;">
				<div style="display: flex;justify-content: space-evenly;" >
				<form th:action="@{/hope/{id}/detail(id=${hope.id})}" method="get">
					<button>詳細</button>
				</form>

				<form th:action="@{/hope/{id}/delete/confirm(id=${hope.id})}" method="get">
					<th:block th:if="${@accountAndCart.id eq hope.studentId}">
						<button>削除</button>
					</th:block>
				</form>
			</td>
		</tr>
	</table>

</body>

</html>