<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>商品一覧</title>
	<link rel="stylesheet" type="text/css" href="/css/bodyStyle.css">
</head>

<body>
	<header th:replace="header"></header>
	<br>
	<br>
	<br>
	<br>
	<th:block th:if="${deniedMessage}">[[${deniedMessage}]]</th:block>
	<h1>商品一覧</h1>
	
	<table>
		<tr>
			<th>商品名</th>
			<th>価格</th>
		</tr>
		<tr th:each="book:${books}">
			<td><a th:href="@{/items/detail(id=${book.id})}"  th:text="${book.title}"></a></td>
			<td th:text="${book.price}"></td>
		</tr>
	</table>
	
	<div style="text-align: center;"><a href="/mypage">マイページ</a></div>
</body>

</html>