<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>生徒用ログイン</title>
<link rel="stylesheet" type="text/css" href="/css/bodyStyle.css">
</head>
<body>
<h1>ログイン画面</h1>
<span th:text="${errorList}" style="color: rgb(255, 0, 0)"></span><br>
<p th:text="${message}" style="color: rgb(255, 0, 0)"></p>

<form action="/login" method="post">
	<table>
		<tr>
			<th>メールアドレス又は学籍番号</th>
			<td><input type="email" name="email" class="textbox" placeholder="メールアドレス" ></td>
			<td><input type="text" name="number"class="textbox" placeholder="学籍番号" ></td>
		</tr>
		<tr>
			<th>パスワード</th>
			<td><input type="password" name="password" class="textbox" placeholder="パスワード" required></td>
		</tr>
	</table>

<br>
<button >ログイン</button>
</form>

<div style="text-align: center;">
	<br>
  <a href="/new/users">会員登録申請</a><br>
  <a href="/staff">職員用ログインページはこちら</a>
 </div>
</body>
</html>