<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
</head>
<body>
<h1>ログイン画面</h1>
<span th:text="${errorList}" style="color: rgb(255, 0, 0)"></span><br>
<p th:text="${message}" style="color: rgb(255, 0, 0)"></p>
<form action="/login" method="post">
<p >メールアドレス又は学籍番号</p>
<input type="email" name="email" placeholder="メールアドレス" ><br>
<input type="text" name="number" placeholder="学籍番号" ><br>
<p>パスワード</p>
<input type="password" name="password" placeholder="パスワード" required><br>

<a href="/new/users">会員登録申請</a><br>

<a href="/staff">職員用ログインページはこちら</a>

<br>
<button >ログイン</button>
</form>
</body>
</html>