<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>出品申請</title>
	<link rel="stylesheet" type="text/css" href="/css/bodyStyle.css">
</head>
<header>

</header>

<body>
	<header th:replace="header"></header>
	<br>
	<br>
	<br>
	<br>
	<h1>出品申請</h1>
	<p th:text="${errorList}" style="color: rgb(255, 0, 0); text-align:center"></p>
	<form action="/order" method="post">
	<table>
		<tr>
			<th>タイトル</th>
			<td><input type="text" name="title" class="textbox" maxlength="50" required></td>
		</tr>
		<tr>
			<th>著者</th>
			<td><input type="text" name="author" class="textbox" maxlength="50" required></td>
		</tr>
		<tr>
			<th>ISBNコード</th>
			<td><input type="number" name="isbn" class="textbox" pattern="\d*" required minlength="10" maxlength="13" placeholder="10ケタもしくは13ケタの数字"></td>
		</tr>
		<tr>
			<th>カテゴリ</th>
			<td>
				<select name="category_id" class="textbox" required>
					<option value="1">文学部</option>
					<option value="2">教育学部</option>
					<option value="3">法学部</option>
					<option value="4">社会学部</option>
					<option value="5">経済学部</option>
					<option value="6">理学部</option>
					<option value="7">医学部</option>
					<option value="8">歯学部</option>
					<option value="9">薬学部</option>
					<option value="10">工学部</option>
					<option value="11">農学部</option>
					<option value="12">その他</option>
				</select>
			</td>
		</select>
		</tr>
		<tr>
			<th>利用学年</th>
			<td>
				<select name="grade" class="textbox" required>
					<option value="1">1年</option>
					<option value="2">2年</option>
					<option value="3">3年</option>
					<option value="4">4年</option>
				</select>
			</td>
		</tr>
		<tr>
			<th>利用講義</th>
			<td><input type="text" name="lecture" class="textbox" maxlength="50" required></td>
		</tr>
		<tr>
			<th>出版社</th>
			<td><input type="text" name="publisher" class="textbox" maxlength="50" required></td>
		</tr>
		<tr>
			<th>本の状態</th>
			<td><input type="text" name="condition" class="textbox" maxlength="50" required placeholder="未使用　傷あり　書き込みあり"></td>
		</tr>
	</table>
	
	<br>
	
		<button>確認</button>
	</form>
</body>

</html>
