<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>出品履歴</title>
	<link rel="stylesheet" type="text/css" href="/css/bodyStyle.css">
</head>

<body>
	<header th:replace="header"></header>
	<br>
	<br>
	<br>
	<br>
	<h1>出品履歴</h1>

	<p th:text="${errorMessage}" style="color:red"></p>

	<table>
		<tr>
			<th>
				<a href="/order/history/1" style="text-decoration:none; color: cadetblue;">∧</a>
				出品日
				<a href="/order/history/2" style="text-decoration:none; color: cadetblue;">∨</a>
			</th>
			<th>タイトル</th>
			<th>ステータス</th>
			<th>キャンセルボタン</th>
		</tr>
		<tr th:each="list:${salelist}">
			<td th:text="${list.saleDay}" style="width: 250px;"></td>
			<td  style="width: 250px;">
				<a th:href="@{/order/history/detail(id=${list.bookInfoId})}" th:text="${list.title}"></a>
			</td>
			<div>
				<td th:if="${list.itemStatus}==1" style="width: 250px;">出品中</td>
				<td th:if="${list.itemStatus}==2" style="width: 250px;">売買済み</td>
				<td th:if="${list.itemStatus}==3" style="width: 250px;">売上受取申請済み</td>
				<td th:if="${list.itemStatus}==4" style="width: 250px;">売上受取済</td>
				<td th:if="${list.itemStatus}==5" style="width: 250px;">出品申請中</td>
				<td th:if="${list.itemStatus}==6" style="width: 250px;">キャンセル済</td>
			</div>
			<td th:if="${list.itemStatus}==1 or ${list.itemStatus}==5">
				<form th:action="'/order/history/' + ${list.id} + '/delete'" method="post">
					<button>キャンセル</button>
				</form>
			</td>
		</tr>
	</table>

</body>

</html>