<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>出品情報確認</title>
</head>

<body>
	<h1>出品情報確認</h1>
	<p th:text="'タイトル' + ${title}"></p>
	<p th:text="'著者' + ${author}"></p>
	<p th:text="'ISBN' + ${isbn}"></p>
	<p th:text="'カテゴリ' + ${category_name}"></p>
	<p th:text="'利用した学年' + ${grade}"></p>
	<p th:text="'使用した講義' + ${lecture}"></p>
	<p th:text="'出版社' + ${publisher}"></p>
	<p th:text="'本の状態' + ${condition}"></p>
	
	<form action="/order/success" method="post">
		<input type="hidden" name="title" value="${title}">
		<input type="hidden" name="author" value="${author}">
		<input type="hidden" name="isbn" value="${isbn}">
		<input type="hidden" name="category_name" value="${category_name}">
		<input type="hidden" name="grade" value="${grade}">
		<input type="hidden" name="lecture" value="${lecture}">
		<input type="hidden" name="publisher" value="${publisher}">
		<input type="hidden" name="condition" value="${condition}">
		<button>申請</button>
	</form>
</body>

</html>