<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>出品詳細</title>
	<link rel="stylesheet" type="text/css" href="/css/bodyStyle.css">
</head>

<body>
	<header th:replace="header"></header>
	<br>
	<br>
	<br>
	<br>
	<h1>出品詳細</h1>
	<table>
		<tr>
			<th>タイトル</th>
			<td th:text="${book.title}"></td>
		</tr>
		<tr>
			<th>著者</th>
			<td th:text="${book.author}"></td>
		</tr>
		<tr>
			<th>ISBN</th>
			<td th:text="${book.isbn}"></td>
		</tr>
		<tr>
			<th>出品ステータス</th>
			<td>
				<th:block th:if="${saleList.itemStatus eq 1}">出品中</th:block>
				<th:block th:if="${saleList.itemStatus eq 2}">売買済み</th:block>
				<th:block th:if="${saleList.itemStatus eq 3}">売買済み</th:block>
				<th:block th:if="${saleList.itemStatus eq 4}">売買済み</th:block>
				<th:block th:if="${saleList.itemStatus eq 5}">出品申請中</th:block>
				<th:block th:if="${saleList.itemStatus eq 6}">出品申請却下</th:block>
			</td>
		</tr>
		<tr>
			<th>金額</th>
			<td th:if="${#strings.isEmpty(book.price)}">未定</td>
			<td th:if="${not #strings.isEmpty(book.price)}" th:text="${book.price} + '円'"></td>
		</tr>
		<tr>
			<th>状態</th>
			<td th:text="${book.condition}"></td>
		</tr>
		<tr>
			<th>商品画像</th>
			<td th:if="${book.imageName != null}"><img th:src="'/img/' + ${book.imageName}" class="studentCard"></td>
			<td th:if="${book.imageName == null}">なし</td>
		</tr>
</body>

</html>