<!DOCTYPE html>
<htmel xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>受け取り申請確認</title>
<link rel="stylesheet" type="text/css" href="/css/bodyStyle.css">
</head>
<body>
	<header th:replace="header"></header>
	<br>
	<br>
	<br>
	<br>
	<h1>受け取り申請確認</h1>
	<p>受取金額</p>
	
	<div style="text-align: center;">
	<th:block th:text="${wantsPrice} + '円'"></th:block>
	<br>
	</div>
	
	<form action="/request/complete" method="post">
		<input type="hidden" name="wantsPrice" th:value="${wantsPrice}">
		<input type="hidden" name="wantsId" th:value="${wantsId}">
		<br>
		<button>申請</button>
	</form>
	<br>
	<div style="text-align: center;">
	<a href="/request">戻る</a>
	</div>
</body>
</html>