<!DOCTYPE html>
<htmel xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>売上受け取り申請</title>
<link rel="stylesheet" type="text/css" href="/css/bodyStyle.css">
</head>
<body>
	<header th:replace="header"></header>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div style="text-align: center;">
		<span th:if="${nullMessage}" th:text="${nullMessage}" style="color: red;"></span>
	</div>
	<br>
	<form action="/request" method="post">
	<table border="2">
		<tr>
			<th>商品名</th>
			<th>価格</th>
		</tr>
		<tr th:each="soldList:${sales}">
			<td>
				<input type="radio" name="wantsPrice" class="textbox" th:value="${soldList.price}" required>
				<input type="hidden" name="wantsId" th:value="${soldList.id}">
				<th:block th:text="${soldList.title}"></th:block>
			</td>
			<td th:text="${soldList.price} + '円'"></td>
		</tr>
	</table>
	<br>
	<button>確認</button>
	</form>
</body>
</html>