<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>購入確認</title>
	<link rel="stylesheet" type="text/css" href="/css/bodyStyle.css">
</head>

<body>
	<header th:replace="header"></header>
	<br>
	<br>
	<br>
	<br>
	<h1>購入確認</h1>
	<div style="text-align: center;">カート内アイテム一覧</div>
	
	<br>
	
	<table border="1">
		<tr>
			<th>本の名前</th>
			<th>値段</th>
		</tr>
		<tr th:each="book:${@accountAndCart.cartItems}">
			<td th:text="${book.title}"></td>
			<td th:text="${book.price + '円'}"></td>
		</tr>
	</table>
	
	<br>
	
	<form action="/book/complete" method="post">
		<table border="1">
			<tr>
				<th>受け取り方法</th>
				<td th:text=${recieve}></td>

			</tr>
			<tr>
				<th>名前</th>
				<td th:text=${name}></td>
			</tr>
			<tr>
				<th>住所</th>
				<td th:text=${address}></td>
			</tr>
			<tr>
				<th>電話番号</th>
				<td th:text=${telephone}></td>
			</tr>
			<tr>
				<th>支払い方法</th>
				<td th:text=${payment}></td>
			</tr>
		</table>
		
		<br>
		
		<button>注文確定</button>
	</form>
</body>

</html>