<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>購入確認</title>
	<link rel="stylesheet" type="text/css" href="/css/bodyStyle.css">
</head>

<body>
	<header th:replace="header"></header>
	<br>
	<br>
	<br>
	<br>
	<form action="/" method="post">
		<table border="1">
			<tr>
				<th>受け取り方法</th>
				<td><input type="radio" value="郵便">郵便</td>
				<td><input type="radio" value="窓口受け取り">窓口受け取り</td>
			</tr>
			<tr>
				<th>名前</th>
				<td input type="text" name="name"></td>
			</tr>
			<tr>
				<th>住所</th>
				<td input type="text" name="address"></td>
			</tr>
			<tr>
				<th>電話番号</th>
				<td input type="text" name="telephone"></td>
			</tr>
			<tr>
				<th>支払い方法</th>
				<td><input type="radio" value="クレジット">クレジット</td>
				<td><input type="radio" value="窓口支払い">窓口支払い</td>
			</tr>
		</table>

		<button>確認</button>
	</form>
</body>

</html>