<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>購入履歴</title>
	<link rel="stylesheet" type="text/css" href="/css/bodyStyle.css">
</head>

<body>
	<header th:replace="header"></header>
	<br>
	<br>
	<br>
	<br>
	<th:block th:if="${deniedMessage}">[[${deniedMessage}]]</th:block>
	<p th:text="${errorMessage}" style="color:red"></p>
	<h1>購入履歴</h1>
		<table>
			<tr>
				<th>商品名</th>
				<th>価格</th>
				<th>日付</th>
			</tr>
			<tr th:each="boughtHistory:${boughtHistories}">
				<td><a th:href="@{/purchase/items/detail(id=${boughtHistory.salelistId})}"
						th:text="${boughtHistory.saleList.bookInfo.title}"></a></td>
				<td><a th:text="${boughtHistory.saleList.bookInfo.price}+'円'"></a></td>
				<td><a th:text="${boughtHistory.boughtDay}"></a></td>

			</tr>
		</table>


	<br>

</body>
</body>

</html>