<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>購入商品詳細</title>
	<link rel="stylesheet" type="text/css" href="/css/bodyStyle.css">
</head>

<body>
	<header th:replace="header"></header>
	<br>
	<br>
	<br>
	<br>
	<h1>購入商品詳細</h1>
	
	<table>
		<tr>
			<th>タイトル</th>
			<td th:text="${book.title}"></td>
		</tr>
		<tr>
			<th>著者</th>
			<td th:text="${book.author}"></td>
		</tr>
		<tr>
			<th>出版社</th>
			<td th:text="${book.publisher}"></td>
		</tr>
		<tr>
			<th>使用した学年</th>
			<td th:text="${book.grade}"></td>
		</tr>
		<tr>
			<th>使用した講義</th>
			<td th:text="${book.lecture}"></td>
		</tr>
		<tr>
			<th>状態</th>
			<td th:text="${book.condition}"></td>
		</tr>
		<tr>
			<th>金額</th>
			<td th:text="${book.price} + '円'"></td>
		</tr>
		<tr>
			<th>商品画像</th>
			<td th:if="${book.imageName != null}"><img th:src="'/img/' + ${book.imageName}" class="studentCard"></td>
			<td th:if="${book.imageName == null}">なし</td>
		</tr>
	</table>
	
</body>

</html>