<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>購入確認</title>
	<link rel="stylesheet" type="text/css" href="/css/bodyStyle.css">
</head>

<body>
	<header th:replace="header"></header>
	<br>
	<br>
	<br>
	<br>
	<div th:each="error:${errorMessage}" style="color :red; text-align: center;">
		<span th:text="${error}"></span>
	</div>
	<form action="/book" method="get" id="form">

		<table border="1">
			<tr>
				<th>受け取り方法</th>
				<td><label><input type="radio" name="recieve" value="1" required> 郵便</label></td>
				<td><label><input type="radio" name="recieve" value="2" required> 窓口受け取り</label></td>
			</tr>
			<tr>
				<th>名前</th>
				<td><input type="text" name="name" class="textbox" required></td>
			</tr>
			<tr>
				<th>住所</th>
				<td><input type="text" name="address" class="textbox" required></td>
			</tr>
			<tr>
				<th>電話番号</th>
				<td><input type="text" name="telephone" class="textbox" required></td>
			</tr>
			<tr>
				<th>支払い方法</th>

				<td>
					<label for="credit"><input id="credit" type="radio" name="payment" value="1"
							onchange="onCheckCreditRadioButton()" required>
						クレジット</label>
				</td>


				<td>
					<label for="pay"><input id="pay" type="radio" name="payment" value="2" onchange="onCheckCreditRadioButton()" required>
						窓口支払い
					</label>
				</td>

			</tr>
			<tr style="visibility: collapse;" id="creditCardContainer1">
				<th>名義人</th>
				<td>
					<input type="text" name="cardName" th:value="${cardName}" pattern="[A-Z]*" minlength="2" maxlength="50" class="textbox" placeholder="半角大文字アルファベット(2文字以上50文字以内)">
				</td>

			</tr>
			<tr style="visibility: collapse;" id="creditCardContainer2">
				<th>カード番号</th>
				<td>
					<input type="text" name="cardNumber" th:value="${cardNumber}" pattern="\d*" minlength="14" maxlength="16" class="textbox" placeholder="半角数字(14文字以上16文字以内)">
				</td>
			</tr>
			<tr style="visibility: collapse;" id="creditCardContainer3">
				<th>有効期限</th>
				<td><input type="date" name="cardDate" th:value="${cardDate}" class="textbox"></td>
			</tr>
			<tr style="visibility: collapse;" id="creditCardContainer4">
				<th>セキュリティコード</th>
				<td>
					<input type="number" name="cardCode" th:value="${cardCode}" min="100" max="9999" oninput="javascript: this.value = this.value.slice(0, 4);" class="textbox">
				</td>
			</tr>
		</table>

		<br>

		<button>確認</button>

	</form>
	<script src="/JS/creditOnCheck.js"></script>
</body>

</html>