<!DOCTYPE html>
<htmel xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>アカウント申請一覧</title>
<link rel="stylesheet" type="text/css" href="/css/bodyStyle.css">
</head>
<body>
	<header th:replace="header"></header>
	<br>
	<br>
	<br>
	<br>
	<h1>申請一覧</h1>
	<table border="2">
		<tr>
			<th>学籍番号</th>
			<th>氏名</th>
			<th>ステータス</th>
		</tr>
		<tr th:each="student:${student}">
			<td th:text="${student.number}"></td>
			<td>
				<a th:href="@{/account/registerList/{studentId}/detail(studentId=${student.id})}"><th:block th:text="${student.name}"></th:block></a>
			</td>
				<td th:if="${student.status == 1}" th:text="仮登録"></td>
				<td th:if="${student.status == 2}" th:text="本会員"></td>
				<td th:if="${student.status == 3}" th:text="凍結中"></td>
		</tr>
	</table>
</body>
</html>