<!DOCTYPE html>
<htmel xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>アカウント更新</title>
<link rel="stylesheet" type="text/css" href="/css/bodyStyle.css">
</head>
<body>
<header th:replace="header"></header>
	<br>
	<br>
	<br>
	<br>
	<div style="text-align: center;">更新前</div>
	<table border="2">
		<tr>
			<th>アカウントID</th>
			<td th:text="${lastInfo.id}"></td>
		</tr>
		<tr>
			<th>学籍番号</th>
			<td th:text="${lastInfo.number}"></td>
		</tr>
		<tr>
			<th>氏名</th>
			<td th:text="${lastInfo.name}"></td>
		</tr>
		<tr>
			<th>メールアドレス</th>
			<td th:text="${lastInfo.email}"></td>
		</tr>
		<tr>
			<th>パスワード</th>
			<td th:text="${lastInfo.pass}"></td>
		</tr>
		<tr>
			<th>生年月日</th>
			<td th:text="${lastInfo.birth}"></td>
		</tr>
		<tr>
			<th>住所</th>
			<td th:text="${lastInfo.address}"></td>
		</tr>
		<tr>
			<th>口座情報</th>
			<td th:if="${lastInfo.bankAccount != null}" th:text="${lastInfo.bankAccount}"></td>
			<td th:if="${lastInfo.bankAccount == null}" th:text="未登録"></td>
		</tr>
	</table>
	
	<br>
	<div style="text-align: center;">更新後</div>
	<table border="2">
		<tr>
			<th>アカウントID</th>
			<td th:text="${id}"></td>
		</tr>
		<tr>
			<th>学籍番号</th>
			<td th:text="${number}"></td>
		</tr>
		<tr>
			<th>氏名</th>
			<td th:text="${name}"></td>
		</tr>
		<tr>
			<th>メールアドレス</th>
			<td th:text="${email}"></td>
		</tr>
		<tr>
			<th>パスワード</th>
			<td th:text="${pass}"></td>
		</tr>
		<tr>
			<th>生年月日</th>
			<td th:text="${birth}"></td>
		</tr>
		<tr>
			<th>住所</th>
			<td th:text="${address}"></td>
		</tr>
		<tr>
			<th>口座情報</th>
			<td th:if="${bankAccount != null}" th:text="${bankAccount}"></td>
			<td th:if="${bankAccount == null}" th:text="未登録"></td>
		</tr>
	</table>
	
	<form th:action="@{/account/{studentId}/update/complete(studentId=${id})}" method="post">
		<input type="hidden" name="number" th:value="${number}">
		<input type="hidden" name="name" th:value="${name}">
		<input type="hidden" name="email" th:value="${email}">
		<input type="hidden" name="pass" th:value="${pass}">
		<input type="hidden" name="birth" th:value="${birth}">
		<input type="hidden" name="address" th:value="${address}">
		<input type="hidden" name="bankAccount" th:value="${bankAccount}">
		
		<button>更新</button>
	</form>
</body>
</html>