<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>売上受取申請一覧</title>
	<link rel="stylesheet" type="text/css" href="/css/bodyStyle.css">
</head>

<body>
	<header th:replace="header"></header>
	<br>
	<br>
	<br>
	<br>
	<h1>売上受取申請一覧</h1>

		<form action="/salesreceipt" method="get" style="display: flex; justify-content: center">
			<input type="text" name="keyword" th:value="${search}" class="textbox" style="width: 200px;">
			<button style="margin: 0;">検索</button>
		</form>
	<table>
		<tr>
			<th>申請者</th>
			<th>金額</th>
			<th></th>
		</tr>
		<tr th:each="sale:${saleList}">
			<td>
				<a th:href="@{/account/{studentId}/detail(studentId=${sale.studentId})}">[[${sale.name}]]</a>
			</td>
			<td th:text="${sale.price + '円'}"></td>
			<td>
				<form action="/salesreceipt/detail" method="get">
					<input type="hidden" th:value="${sale.id}" name="id">
					<button>詳細</button>
				</form>
			</td>
		</tr>
	</table>
	
	<h2 th:if="${saleList.size == 0}" style="text-align: center; color: red;">申請はありません</h2>

</body>

</html>