<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>職員ログイン</title>
	<link rel="stylesheet" type="text/css" href="/css/bodyStyle.css">
</head>

<body>
	<h1>職員ログイン画面</h1>
	<span th:text="${errorList}" style="color: rgb(255, 0, 0)"></span><br>
	<p th:text="${message}" style="color: rgb(255, 0, 0)"></p>
	<form action="/staff" method="post">
		<table>
			<tr>
				<th>メールアドレス又は職員番号</th>
				<td><input type="text" name="staffEmail" class="textbox" placeholder="メールアドレス">
				<input type="text" name="staffNumber" class="textbox" placeholder="職員番号"></td>
			</tr>
			<tr>
				<th>パスワード</th>
				<td><input type="text" name="staffPass" class="textbox" placeholder="パスワード"　required></td>
			</tr>
			
		</table>

<br>
		<button>ログイン</button>
	</form>
</body>

</html>